:root{
    --mainColor : #252734;
    --secondaryColor : #333646;
    --acsentColor : #FF9100;
}

body {
    background-color: var(--mainColor);
    min-height: 900px;
    font-family: 'ubuntu', sans-serif;

}


/* Navbar */

.nav-link.active {
    color: var(--acsentColor) !important;
    font-weight: 900;
}


/* End Navbar */

/* hero */
.color-acsent {
    color: var(--acsentColor);
}

section h1 {
    color: #fff;
    font-size: 2.5rem;
}

#hero {
    color: #fff;
    min-height: 100vh;
}

#hero h1{
    font-size: 3rem;
}

#hero h2 {
    font-weight: 300;
}

#hero p {
    font-size: 1.1rem;
    font-weight: 300;
}

/* CTA */
.btn-custom1 {
    background-color: var(--acsentColor);
    text-align: center;
    color: #fff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn-custom1:hover {
    box-shadow: 0 0 5px rgba(255, 166, 0,8);
}

.cv {
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
}
img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate();

}

.home-img .img-box {
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
}

/* About */

hr {
    width: 35%;
    height: 5px;
    color: var(--acsentColor);
    margin: 0 auto;
    opacity: 100%;


}

#about {
    min-height: 300px;
    width: 100%;
    background-color: var(--secondaryColor);
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;
    
}


/* End About */



